$bodyColor: #ebebeb;
$backgroundPrimaryColor: #fff159;
$primaryColor: #3484fa;

$white: #FFFFFF;
$grey: #999999;
$black: #333333;

$fontXXS: 1.2rem;
$fontXS: 1.4rem;
$fontS: 1.6rem;
$fontM: 1.8rem;
$fontL: 2.4rem;
$fontXL: 3.2rem;
$fontXXL: 4.6rem;

$marginS: 8px;
$marginM: 16px;
$marginL: 32px;

$paddingS: 8px;
$paddingM: 16px;
$paddingL: 32px;