$bodyColor: #ebebeb;
$backgroundPrimaryColor: #fff159;
$primaryColor: #3484fa;

$button: #3483FA;

$fontXXS: 12px;
$fontXS: 14px;
$fontS: 16px;
$fontM: 18px;
$fontL: 24px;
$fontXL: 28px;
$fontXXL: 46px;

$marginS: 16px;
$marginM: 32px;