@import "core/Styles/_variables";

@font-face {
  font-family: "Proxima Nova Light";
  src: local("proximanova-light"),
    url("./fonts/proximanova-light.woff2") format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  src: local("proximanova-regular"),
    url("./fonts/proximanova-regular.woff2") format("woff");
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: local("proximanova-semibold"),
    url("./fonts/proximanova-semibold.woff2") format("woff");
}

html{
  //This was done to use REM in a friendly way.
  font-size: 62.5%;
}
body {
  color: $black;
  font-size: 1.6rem;
  background-color: $bodyColor;
  margin: 0;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
h1{
  font-size:$fontXXL;

}
h2{
  font-size:$fontXL;
}
h3{
  font-size:$fontL;
}
