@import "../../../core/Styles/_variables";

.breadcrumb{
    color: $grey;
    margin: $marginS 0;

    span{
        &:not(:first-child){
            &:before{
                content: '>';
            }
        }
    }
}